#viewport {
    width: 497px;
    height: 497px;
    margin-top: 0px;
    border: 2px solid rgb(0, 0, 0);
}

.bgk-video {
    width: 500px;
    height: 500px;
    margin: auto;
    border: 15px solid rgb(138, 138, 138);
    border-bottom: 100px solid rgb(138, 138, 138);
}

.bgk-text {
    color: #fff;
}

.btn {
    margin: 0px;
    padding-bottom: 90px;
}