.u-section-1 .u-sheet-1 {
  min-height: 520px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 0;
  position: relative;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  margin: 10px 10px 0 auto;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  margin: -42px auto 0 10px;
}

.u-section-1 .u-btn-2 {
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: uppercase;
  border-style: none;
  font-size: 1rem;
  margin: -399px auto 0 2px;
  padding: 10px 30px;
}

.u-section-1 .u-icon-1 {
  font-size: 1.0626em;
}

.u-section-1 .u-btn-3 {
  letter-spacing: 0px;
  font-weight: 700;
  padding-top: 10px;
  padding-bottom: 10px;
  text-transform: uppercase;
  border-style: none;
  font-size: 1rem;
  margin: 0 970px 0 1px;
}

.u-section-1 .u-icon-2 {
  font-size: 1.0626em;
  margin-right: 0;
}

.u-section-1 .u-btn-4 {
  letter-spacing: 0px;
  font-weight: 700;
  padding-top: 10px;
  padding-bottom: 10px;
  text-transform: uppercase;
  border-style: none;
  font-size: 1rem;
  margin: 0 auto 60px 2px;
}

.u-section-1 .u-icon-3 {
  font-size: 1.0626em;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 450px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 330px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 24px;
    padding: 5px 18px 6px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -33px;
  }

  .u-section-1 .u-btn-2 {
    border-style: solid;
    align-self: center;
    margin-top: -330px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    border-style: solid;
    align-self: center;
    margin-right: 810px;
    margin-left: 0;
    padding-right: 26px;
    padding-left: 25px;
  }

  .u-section-1 .u-btn-4 {
    border-style: solid;
    margin-left: 0;
    padding-left: 26px;
    padding-right: 26px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 373px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 253px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 253px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 10px;
    padding: 1px 26px 2px 25px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.125rem;
    margin-top: -25px;
    margin-bottom: 4px;
  }

  .u-section-1 .u-btn-2 {
    font-size: 0.75rem;
    margin-top: -253px;
    padding-left: 17px;
    padding-right: 17px;
  }

  .u-section-1 .u-btn-3 {
    font-size: 0.75rem;
    margin-right: 590px;
    padding-left: 17px;
    padding-right: 17px;
  }

  .u-section-1 .u-btn-4 {
    font-size: 0.75rem;
    padding-left: 17px;
    padding-right: 17px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1485px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 1265px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 410px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1016px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 157px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
    padding: 9px 127px 11px 126px;
  }

  .u-section-1 .u-icon-1 {
    margin-right: 7px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: -4px;
    margin-right: -4px;
    padding-right: 133px;
    padding-left: 133px;
  }

  .u-section-1 .u-icon-2 {
    margin-right: 22px;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 0;
    padding-right: 128px;
    padding-left: 128px;
  }

  .u-section-1 .u-icon-3 {
    margin-right: 10px;
  }
}